/* =============================================================================
Core Elements - Layout
========================================================================== */


*{
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}


.cf:before, .cf:after {
  content: "";
  display: table;
  clear: both;
}

/*  Wrapper  */

.tt__wrapper ul{
  margin:0; padding:0;
}

.tt__wrapper{
  display:block;
	max-width:950px;
  margin: 0 auto;
  color: @textColour;
  line-height: @baseLineHeight;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
}

@media screen and (min-width: 481px) {
  .tt__wrapper{
  margin: 20px auto;
  }
}

/*  Road Update Section */

.tt-entry{
  display:block;
  #GradientGrey > .vertical;
  position:relative;
  -webkit-filter: blur(0px);
  transition: all .3s ease;
}

#road-news, .road-status-menu{
  display:block;
}

.entry-blur{
  -webkit-filter: blur(4px);
  opacity:0.4;
}

.ru-highlight{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
}

.in-shadow{
  position:absolute;
  z-index:1;
  .innershadow;
  height:10px;
  width:100%;
  
}

/*  Global Road Update Icons */ 

.ru-icon {
  position:absolute;
  height:100%;
  width:80px;
  background-color:@grey;
  left:0;
}

.status-icon{
  background-image:url(../gui/status-icons/sprite_icon_status.svg);
  background-size: 500%;
  background-repeat: no-repeat;
  width:80px;
  height:90px;
  margin: 10px auto 0 auto;
}

.severity-high .ru-icon{
  background-position: 3px 5px;
  border-right:solid 8pt @severity5;
}

.severity-med .ru-icon{
  background-position: -65px 5px;
  border-right:solid 8pt @severity4;
}

.severity-low .ru-icon{
  background-position: -135px 5px;
  border-right:solid 8pt @severity3;
}

.severity-cleared .ru-icon{
  background-position: -275px 5px;
  border-right:solid 8pt @severity1;
}

.special-event .ru-icon{
  background-position: -202px 5px;
  border-right:solid 8pt @eventsWarning;
}

.road-closed .ru-icon{
  background-position: 5px -80px;
  border-right:solid 8pt @severity5;
}

.accident .ru-icon{
  background-position: -64px -80px;
  border-right:solid 8pt @severity5;
}

.lane-closure .ru-icon{
  background-position: -275px -80px;
  border-right:solid 8pt @severity5;
}

@media screen and (min-width: 481px) {

.ru-icon {
  width:120px;
}

.status-icon{
  background-size: 400%;
  height: 120px;
}

.severity-high .ru-icon{
  background-position: 16px 5px;
  border-right:solid 8pt @severity5;
}

.severity-med .ru-icon{
  background-position: -70px 5px;
  border-right:solid 8pt @severity4;
}

.severity-low .ru-icon{
  background-position: -160px 5px;
  border-right:solid 8pt @severity3;
}

.severity-cleared .ru-icon{
  background-position: -338px 5px;
  border-right:solid 8pt @severity1;;
}

.special-event .ru-icon{
  background-position: -245px 5px;
  border-right:solid 8pt @eventsWarning;
}

.road-closed .ru-icon{
  background-position: 21px -110px;
  border-right:solid 8pt @severity5;
}

.accident .ru-icon{
  background-position: -67px -110px;
  border-right:solid 8pt @severity5;
}

.lane-closure .ru-icon{
  background-position: -335px -110px;
  border-right:solid 8pt @severity5;
}

}


/*  Road Update Deatils */

.ru-details{
  margin-left: 80px;
  padding:10px 20px;
}

.ru-details h3{
  font-size:1.5em;
  font-weight:700;
  line-height:1.1em;
  padding-bottom:5px;
}

@media screen and (min-width: 481px) {

.ru-details h3 {
  font-size: 1.8em;
}

}

.ru-details p{
  font-size:1.1em;
  padding-bottom: 0.5em
}

.ru-area{
  position:relative;
  padding-right:40px;
  margin:20px 0;
}

.ru-area-drop{
  position: absolute;
  background-image: url(../gui/expand-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.severity-high .drop-active{
   background-position: -36px 0;
}

.severity-med .drop-active{
   background-position: -73px 0;
}

.severity-low .drop-active{
   background-position: -108px 0;
}

.severity-cleared .drop-active{
   background-position: -176px 0;
}

.special-event .drop-active{
   background-position: -142px 0;
}

.ru-top-bar{
  display:block;
  width:100%;
  #GradientGrey > .horizontal;
  margin: 10px 0;
}

.road-name{
  position:relative;
  min-width:80px;
  display:inline-block;
  height:28px;
}

.ru-time{
  display:block;
  float:right;
  padding:6px 10px;
}

.ru-time .clock-icon{
  display:block;
  background-image:url(../gui/clock-icon.svg);
  background-repeat: no-repeat;
  height:16px;
  width:16px;
  float:left;
}


.ru-time .ru-time-text{
 float:left;
 margin-left:10px;
 font-weight:700;
  }


@media screen and (min-width: 481px) {
.ru-details{
  margin-left: 120px;
}

}

.road-name:before{
  content:'';
  right:-28px;
  position: absolute;
  width:0;
  height:0;
}

/* Severity High Classes */

.severity-high .road-name:before, .road-closed .road-name:before, .accident .road-name:before{
  border-top: solid 14px transparent;
  border-right: solid 14px transparent;
  border-left:solid 14px @severity5;
  border-bottom:solid 14px @severity5;
}

.severity-high .ru-top-bar h2, .road-closed .ru-top-bar h2, .accident .ru-top-bar h2{
  background-color:@severity5;
  padding:2px 8px 1px 8px;
} 


/* Severity Medium Classes */

.severity-med .road-name:before, .lane-closure .road-name:before,{
  border-top: solid 14px transparent;
  border-right: solid 14px transparent;
  border-left:solid 14px @severity4;
  border-bottom:solid 14px @severity4;
}

.severity-med .ru-top-bar h2, .lane-closure .ru-top-bar h2{
  background-color:@severity4;
  padding:2px 8px 1px 8px;
} 

/* Severity Low Classes */

.severity-low .road-name:before{
  border-top: solid 14px transparent;
  border-right: solid 14px transparent;
  border-left:solid 14px @severity3;
  border-bottom:solid 14px @severity3;
}

.severity-low .ru-top-bar h2{
  background-color:@severity3;
  padding:2px 8px 1px 8px;
} 



/* Severity Low Cleared */

.severity-cleared .road-name:before{
  border-top: solid 14px transparent;
  border-right: solid 14px transparent;
  border-left:solid 14px @severity1;
  border-bottom:solid 14px @severity1;
}

.severity-cleared .ru-top-bar h2{
  background-color:@severity1;
  padding:2px 8px 1px 8px;
} 

/* Severity Low Cleared */

.special-event .road-name:before{
  border-top: solid 14px transparent;
  border-right: solid 14px transparent;
  border-left:solid 14px @eventsWarning;
  border-bottom:solid 14px @eventsWarning;
}

.special-event .ru-top-bar h2{
  background-color:@eventsWarning;
  padding:2px 8px 1px 8px;
}



/* =====================================================

Social Buttons

====================================================== */

.ru-video{
  display:block;
  float:left;
  margin-top:20px;
}

.s-icon{
  display:block;
  float:left;
  width:42px;
  height:42px;
  background-image:url(../gui/menu-icons/sprite_icon_social_icons.svg);
  border:2px solid #6B6B6B;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  cursor: pointer;
  transition: all .3s ease;
}

.ru-social{
  display:block;
  position: relative;
  display:none;
 margin-bottom:20px;
}

.ru-social-active{
  display:block;
  overflow:visible;
  height: 120px;
}

.ru-social-icons{
  display:block;
  margin-top:20px;
  float:right;
}

.ru-social-icons span{
  margin-left:5px;
}

@media screen and (min-width: 481px) {
  .ru-social-icons span{
    margin-left: 20px;
  }
}

.ru-icon-video{
  background-position:-12px -13px;
}

.ru-icon-video:hover{
  background-position:-12px -53px;
}

.ru-icon-email{
  background-position:-77px -14px;
}

.ru-icon-email:hover{
  background-position:-77px -55px;
}

.ru-icon-twitter{
  background-position:-143px -12px;
}

.ru-icon-twitter:hover{
  background-position:-143px -53px;
}

.ru-icon-facebook{
  background-position:-208px -12px;
}

.ru-icon-facebook:hover{
  background-position:-208px -54px;
}


.ru-icon-google{
  background-position:-273px -12px;
}

.ru-icon-google:hover{
  background-position:-273px -52px;
}
