/* =============================================================================
Trains Elements - Layout
========================================================================== */
/*  =====================================================

  Trains Main Table List

=====================================================*/
#trafficntravelvis .train-times {
  overflow: hidden;
}
#trafficntravelvis .train-times tr td {
  border: none;
  padding: 5px 5px 15px;
  color: #494949;
  font-size: 1.1em;
  font-weight: 700;
  text-align: left;
}
#trafficntravelvis .train-times tbody tr {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -ms-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: linear-gradient(top, #ffffff, #e7e7e7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#ffffff', endcolorstr='#e7e7e7', GradientType=0);
  border-top: solid 2px #dfdfdf;
}
#trafficntravelvis .train-times tbody tr:first-child {
  border-top: none;
  }
#trafficntravelvis .train-times thead tr {
  background-color: #6b6b6b;
  color: #ffffff;
}
#trafficntravelvis .train-times thead tr th {
  text-align: left;
  padding: 20px 5px;
  font-size: 1.2em;
  font-weight:700;
}

#trafficntravelvis .train-times thead tr th:nth-child(1) {
  padding-left:10px;
}

#trafficntravelvis .train-times .status-minor-delay td:first-child {
  border-left: solid 8px #ff8b00;
  padding-left: 5px;
}

#trafficntravelvis .train-times .status-minor-delay:nth-child(3) {
  color: #ff8b00;
}

#trafficntravelvis .train-times .status-severe-delay td:first-child {
  border-left: solid 8px #ed1c24;
  padding-left: 5px;
}

#trafficntravelvis .train-times .status-severe-delay:nth-child(3) {
  color: #ed1c24;
}

#trafficntravelvis .train-times tr td:nth-child(4) {
  font-weight: 400;
}

#trafficntravelvis .trains-drop {
  position: relative;
  display: block;
  top: 8px;
  background-image: url(../gui/expand-icon.svg);
  width: 23px;
  height: 23px;
  float: right;
}

#trafficntravelvis .train-times .drop-active {
  background-position: -27px 0;
}

@media screen and (min-width: 481px) {
  #trafficntravelvis  .train-times tr td {
    font-size: 1.3em;
    padding: 15px 20px 15px;
  }

  #trafficntravelvis  .train-times thead tr th {
    text-align: left;
    padding: 15px 5px 20px 15px;
    font-size: 1.4em;
  }

  #trafficntravelvis  .train-times .status-minor-delay td:first-child {
    border-left: solid 16px #ff8b00;
    padding-left: 15px;
  }

  #trafficntravelvis  .train-times .status-severe-delay td:first-child {
    border-left: solid 16px #ed1c24;
    padding-left: 15px;
  }
}


 /* ==========================================================================
   Trains
   ========================================================================== */

#trafficntravelvis  .trains-menu-icon{
  display:none;
  background-image: url(../gui/menu-icons/sprite_icon_trains_menu_icons.svg);
    background-repeat: no-repeat;
  background-size: 400%;
  width:22px;
  height:22px;
  position: relative;
}

#trafficntravelvis .due-icon{
  background-position:0 0;
  top: 4px;
}

#trafficntravelvis .destination-icon{
  background-position:-22px 0;
  top: 4px;
}

#trafficntravelvis .train-status-icon{
  background-position:-44px 0;
  top: 4px;
}

#trafficntravelvis .platform-icon{
  background-position:-66px 0;
  top: 4px;
}

@media screen and (min-width: 481px) {
  #trafficntravelvis .trains-menu-icon {
    display:inline-block;
  }

  #trafficntravelvis .train-times tr td:nth-child(5){
    padding:10px 15px 15px 5px
  }
}

#trafficntravelvis .train-times form{
  background-color:#6b6b6b;
}

#trafficntravelvis .departure-field, #trafficntravelvis .destination-field{
  width:43%;
  float:left;
  padding:15px 0 0 10px;
}

#trafficntravelvis .train-select{
  width:10%;
  height:25px;
  background-image: url(../gui/menu-icons/sprite_icon_trains_form_icon.svg);
  background-repeat:no-repeat;
  border:none;
  background-color:transparent;
  background-size:25px;
  margin-top: 42px;
  background-position:center center;
  margin-left:2%;
}

#trafficntravelvis .train-times form label{
  float:left;
  color:#fff;
  padding-bottom:5px;
  font-weight: 700;
}

#trafficntravelvis .train-times form input{
  float:left;
  width:100%;
  padding: 5px;
  background-color:#333;
  color:#e7e7e7;
  font-weight: 400;
  border: solid 1px #222;
}

#trafficntravelvis .train-times form label, #trafficntravelvis .train-times form input{
  font-size: 1.1em;
}

#trafficntravelvis .train-times tr td:nth-child(1){
padding-left:10px;
}


 /* ==========================================================================
   INFO MODAL WHERE TRAIN IS
   ========================================================================== */


#trafficntravelvis .train-times tr td.startdeparted {
background: transparent url(../gui/bg-live-progress-start-departed.png) top left no-repeat;
vertical-align: middle;
text-align: left;
padding: 11px 11px 11px 0;
}

#trafficntravelvis .train-times tr td div.current span {
background: transparent url(../gui/bg-live-progress-current.png) center left no-repeat;
padding-left: 36px;
text-align: center;
display: block;
padding-right: 10px;
width:20px;
height:20px;
}

#trafficntravelvis .train-times tr td.departed {
background: transparent url(../gui/bg-live-progress-departed.gif) center left repeat-y;
vertical-align: middle;
text-align: left;
padding: 11px 11px 11px 0;
}

#trafficntravelvis .train-times tr td.progress {
background: transparent url(../gui/bg-live-progress.gif) center left repeat-y;
vertical-align: middle;
text-align: left;
padding: 11px 0;
}

#trafficntravelvis .train-times tr td.end {
background: transparent url(../gui/bg-live-progress-end.png) bottom left no-repeat;
vertical-align: middle;
text-align: left;
padding: 11px 11px 11px 0;
}

 /* ==========================================================================
   INFO MODAL WHERE TRAIN IS
   ========================================================================== */

#trafficntravelvis .trains-modal .social-icons{
  display:inline-block;
    margin:0 auto;
}

#trafficntravelvis .trains-modal .social-icons span {
  margin: 10px
}


@media screen and (min-width: 481px) {

 #trafficntravelvis .departure-field, .destination-field{
  width:43%;
  float:left;
  padding:15px 0 0 15px;
}

#trafficntravelvis .train-times thead tr th:nth-child(1) {
padding-left:20px;
}

#trafficntravelvis .train-times tr td:nth-child(1) {
padding-left: 23px;
}

#trafficntravelvis  .train-times form label{
  font-size:1.4em;
}

#trafficntravelvis .train-times form input{
  font-size:1.2em;
}

#trafficntravelvis .train-select{
  margin-top:50px;
}

}
