/* =============================================================================
Trains Elements - Layout
========================================================================== */




/*  =====================================================

  Trains Main Table List

=====================================================*/

.train-times {
  overflow:hidden;
}


.train-times tr td{
  border: none;
  padding: 5px 5px 15px;
  color:@greyXDark;
  font-size:1.1em;
  font-weight:700;
}

.train-times tbody tr {
#GradientGrey > .vertical;
  border-bottom:solid 2px @grey;

}

.train-times thead tr {
  background-color:@greyDark;
  color:@white;
}

.train-times thead tr th {
  text-align: left;
  padding: 20px 10px;
  font-size: 1.3em;
}

.train-times .status-minor-delay td:first-child {
  border-left: solid 8px #ff8b00;
  padding-left: 5px;
}

.train-times .status-minor-delay:nth-child(3) {
 color:#ff8b00;
}


.train-times .status-severe-delay td:first-child {
  border-left: solid 8px #ed1c24;
  padding-left: 5px;
}

.train-times .status-severe-delay:nth-child(3) {
 color:#ed1c24;
}

.train-times tr td:nth-child(4) {
 font-weight:400;
}

.trains-drop{
  position: relative;
  display:block;
  top: 8px;
  background-image: url(../gui/expand-icon.svg);
  width: 23px;
  height: 23px;
}

.train-times tbody .train-social{
  background-color:@grey;
  background-image:none;
  display:none;
}

.train-times tbody .train-social .social-icons{
  margin-top:10px;
}

.train-times .drop-active{
   background-position: -27px 0;
}

 @media screen and (min-width: 481px) {

  .train-times tr td {
    font-size:1.3em;
    padding: 5px 20px 15px;
  }

  .train-times thead tr th {
    text-align: left;
    padding: 20px 20px;
    font-size: 1.5em;
  }

  .train-times .status-minor-delay td:first-child {
    border-left: solid 16px #ff8b00;
    padding-left: 15px;
  }

  .train-times .status-severe-delay td:first-child {
    border-left: solid 16px #ed1c24;
    padding-left: 15px;
  }


 }
