<div class="traffic-modal modal fade roads-modal" id="roadsModal" data-id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="traffic-container">
      <div class="road-">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
          </div>
        </div>
        <h2>{{road}}</h2>
        <img class="img-responsive img-centered" src="static/gui/road-camera.jpg" alt="camera" data-url="{{thecamera}}">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
</div>