<li class="{{icon}} tt-entry li-active" >
<div class="in-shadow"></div>
<aside class="ru-icon"> <i class="status-icon ru-icon"></i> </aside>
<article class="ru-details">
  <div class="ru-top-bar">
	<h2 class="beta road-name road-status">{{road}}</h2>
	<span class="ru-time-text">TBD</span><span class="clock-icon"></span> </div>
  <div class="ru-area">
	<h3>{{road}} - {{area}} - {{direction}}</h3>
	<div class="ru-area-drop"></div>
  </div>
  <div class="ru-social cf">
	<p>{{message}}</p>
	<div class="ru-video"><span class="s-icon ru-icon-video {{videodisplay}}" data-id="{{id}}"></span></div>
	<div class="social-icons"><span class="s-icon ru-icon-email"></span><span class="s-icon ru-icon-twitter"></span><span class="s-icon ru-icon-facebook"></span><span class="s-icon ru-icon-google"></span></div>
  </div>
</article>
</li>